//--------------------------------------------------------------
// Typography
// --------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic|Libre+Baskerville:400,400italic,700);

$font-1 : 'Open Sans', sans-serif;;
$font-2 : 'Libre Baskerville', serif;;
$font-3 : "FontAwesome";


//--------------------------------------------------------------
// Colors
// --------------------------------------------------------------*/

$color-1 : #8eab57; // Green
$color-2 : #f9f8f8; // Ash

$link-color       : blue;
$link-hover-color : orange;
$theme-bg-color   : #fff;

$text-color            : #666666; //Normal fonts
$dark-text-color       : #3d3d3e; // Titles and stuff
$darker-text-color     : #000000; // Newsletter
$border-color : #ddd;


//--------------------------------------------------------------
// Responsive Breakpoints
//--------------------------------------------------------------*/


//--------------------------------------------------------------
// Site Settings
// --------------------------------------------------------------*/

$base-font-weight   : 400;
$base-font-size     : 14px;
$base-line-height   : 24px;
$base-font-family   : $font-1;

$title-font-weight : 400;
$title-font-family : $font-2;
$icon-font         : $font-3;
