/*--------------------------------------------------------------
 ## Footer Styles
 --------------------------------------------------------------*/
.footer{
	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {

		text-align: center;
		padding: 40px 0;

		&--copy p{
			font-weight: 600;
			text-transform: uppercase;
			color: $dark-text-color;
			font-size: 12px;

		}

		ul{
			margin: 0px;
			padding: 0px;
			list-style: none;

			li{
				display: inline-block;
				margin: 0px 1px;
				position: relative;
				padding-right: 15px;

				&:after{
					content: "|";
					display: block;
					width: 10px;
					height: 10px;
					position: absolute;
					top: 0px;
					right: 0px;
					font-weight: 600;
					color: $dark-text-color;
				}

				&:last-child{
					padding-right: 0px;

					&:after{
						display: none;
					}
				}

				a{
					text-transform: uppercase;
					color: $dark-text-color;
					font-size: 12px;
					text-decoration: none;
					font-weight: 600;

					-webkit-transition: all .2s; /* Safari */
				  transition: all .2s;

					&:hover,
					&:active,
					&:focus{
						color: $color-1;
						text-decoration: none;
					}

				}
			}
		}
	}
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

		&--copy{
			display: inline-block;
		}

		&--nav{
			display: inline-block;
			margin-top: -5px;
			margin-left: 30px;
		}

	}

}
