/*--------------------------------------------------------------
 ## Header Styles
 --------------------------------------------------------------*/
.header{

	/* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

    margin-top: 20px;

		&--brnading a{
			display: block;
			width: 200px;
			height: 67px;

			text-indent: -9999px;
			margin: 0px auto;

			background-image: url('../images/logo@2x.png');
			background-repeat: no-repeat;
			background-size: 100%;

		}

		&--nav-toggle{
			background-image: url('../images/Hambuger-Button@2x.png');
			background-repeat: no-repeat;
			background-size: 100%;
			display: block;
			margin: 20px auto;
			width: 50px;
			height: 32px;
		}

    &--primary-nav{
      display: none;
    }

		&--primary-nav ul{
			margin: 0px;
			padding: 0px;
			list-style: none;

			li{
				float: left;

				a{
					text-transform: uppercase;
					color: $dark-text-color;
					font-size: 14px;
					font-weight: 600;

          -webkit-transition: all .2s; /* Safari */
          transition: all .2s;

          &:hover,
          &:active,
          &:focus{
            color: $color-1;
            text-decoration: none;
          }
				}

        &.current-menu-item a{
          color: $color-1;
          text-decoration: none;
        }
			}
		}

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

		&--brnading{
			float: left;
		}

		&--nav-toggle{
			display: none;
		}

		&--primary-nav{
			float: right;
      margin-top: 25px;
      display: block;

      ul li{
        margin-left: 25px;
      }

      .booking a{
        border: 2px solid $color-1;
        color: $color-1;
        padding: 6px 25px;
        cursor: pointer;

        &:hover{
          color: #fff;
          background-color: $color-1;
        }

      }
		}


  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }


}
