/*--------------------------------------------------------------
 ## Form and From Related Element Styles
 --------------------------------------------------------------*/

input[type="text"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="text"]{


}


textarea,
textarea.form-control{

	resize: vertical;
	overflow: auto;
}


// File Upload Handel
.dropzone{

}

.newsletter{

	input[type="text"],
	input[type="email"]{
		background-color: #fff;
		border-radius: 0px;
		max-width: 600px;
		width: 100%;
		height: 40px;
		box-shadow: inset 1.5px 2.598px 7px 0px rgba(0, 0, 0, 0.067);
		padding: 10px;
		outline: none;
		border: 1px solid #ddd;

		-webkit-transition: all .2s; /* Safari */
	    transition: all .2s;

		&:focus{
			border: 1px solid $color-1;
		}

	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $dark-text-color;
		text-transform: uppercase;
		font-size: 14px;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $dark-text-color;
		text-transform: uppercase;
		font-size: 14px;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $dark-text-color;
		text-transform: uppercase;
		font-size: 14px;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $dark-text-color;
		text-transform: uppercase;
		font-size: 14px;
	}

	input[type="button"],
	input[type="submit"]{
		background-color: #fff;
		border: 1px solid #ddd;
		padding: 15px 30px;
		border-radius: 0px;
		text-transform: uppercase;
		font-weight: 600;
		color: $color-1;
		border: 2px solid $color-1;
		margin-top: 10px;

		-webkit-transition: all .2s; /* Safari */
		transition: all .2s;


		&:hover,
		&:active,
		&:focus{
			color: #fff;
			background-color: $color-1;
			outline: none;
		}
	}
}
