/*--------------------------------------------------------------
 ## Heading Styles
 --------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6{
    font-weight: $title-font-weight;
    font-family: $title-font-family;
    font-style: italic;
    color: $dark-text-color;

    a,a:visited{
      text-decoration: none;
      color: $dark-text-color;

      &:hover{
        color: $color-1;
        text-decoration: none;
      }
    }
}

/*--------------------------------------------------------------
 ## Paragraph Styles
 --------------------------------------------------------------*/

p{
	margin-bottom: 10px;
}

p.loud{

}
