/*--------------------------------------------------------------
 ## Button Styles
 --------------------------------------------------------------*/
.btn,
.btn:visited{
		background-color: #fff;
		border: 1px solid #ddd;
		padding: 15px 30px;
		border-radius: 0px;
		text-transform: uppercase;
		font-weight: 600;
		color: $color-1;
		border: 2px solid $color-1;
		margin-top: 10px;

		-webkit-transition: all .2s; /* Safari */
		transition: all .2s;


		&:hover,
		&:active,
		&:focus
		{
			color: #fff;
			background-color: $color-1;
			outline: none;
			border: 2px solid $color-1;
		}
}
