.entry-content{

  p{
    font-size: 16px;
    line-height: 1.8;

  }
}

.post{
  margin-bottom: 80px;
}

h1.simple-title,
h2.simple-title,
h3.simple-title,
h4.simple-title,
h5.simple-title{

  font-weight: 700;
  display: inline-block;
  font-family: $font-1;
  font-style: normal;
  position: relative;

  &:after{
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    border-bottom: 1px solid #000;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;

  }
}
