.welcome{
  margin-top: 30px;
  margin-bottom: 30px;

  h1{
    font-size: 40px;
    margin: 0px;
    padding: 0px;
  }

  p{
    font-size: 18px;
    max-width: 600px;
    margin: 10px auto;
  }
}


.dark-bg-title{
  padding: 10px;
  h1{
    color: #fff;
    font-style: normal !important;
    font-size: 30px;
    color: #fff !important;
  }
}

.wpb_wrapper{
  overflow: hidden;
}

.content-block{
  min-height: 200px;
  background-color: $color-2;
}


.chess-grid{

  .vc_column_container>.vc_column-inner{
    padding-left: 0px;
    padding-right: 0px;
  }

  .wpb_content_element{
    margin-bottom: 0px;
  }
}
