.mobile-header{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1031;
  background-color: rgba(255,255,255,.9);
  width: 100%;
  height: 100%;
  display: none;

  .header--nav-toggle {
    background-image: none;
    text-align: center;
    line-height: 32px;
    font-size: 30px;
    color: $dark-text-color;
    float: right;

    &:after{
      clear: both;
      display: block;
      content: "";
    }
  }

  ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 100px;

    li{
      border:1px solid $color-2;

      a{
        padding: 20px;
        text-align: center;
        display: block;
        color: $dark-text-color;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        font-weight: 600;
      }

      &.current-menu-item a,
      &:hover a{
        color: $color-1;
        text-decoration: none;
      }
    }

  }
}
