.newsletter{
  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

    background-image: url('../images/img-newsletter@2x.jpg');
    background-repeat: no-repeat;
    padding: 90px 0;
    background-position: top right;
    background-size: auto 100%;

    &--title{
      margin: 0px;
      padding: 0px;
      font-size: 40px;
      color: $dark-text-color;
      margin-bottom: 20px;
    }

    p{
      font-size: 18px;
      max-width: 600px;
      margin: 10px auto;
      margin-bottom: 30px;
    }

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

    background-size: 100%;
    padding: 130px 0;
  }

}
