.private-practice{
  margin-top: 50px;

  .entry-header{
    border: 1px solid #ddd;
    position: relative;




    &--img{
      position: relative;
      margin-top: 70px;
      box-shadow: 1.721px 10.865px 62px 0px rgba(0, 0, 0, 0.071);
    }

    &--icon {
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -42.5px;
        width: 85px;
        height: 85px;

        img{ width: 100%; }
    }
  }
}
