.flexslider{
  border: none;
  width: 100%;
  overflow: hidden;
  max-height: 900px;
  overflow: hidden;
}


@media only screen and (min-width : 320px) {

  .slide{
    position: relative;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top right;
    width: 100%;

    &--content{
      position: relative;
      width: 100%;
      padding: 100px 50px;
    }

    &--title h1{
      font-size: 30px;
    }

    &--desc{
      font-size: 18px;
      max-width: 600px;
      margin: 10px auto;
    }
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .slide{
    &--title h1{
      font-size: 35px;
    }
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .slide{
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;

    &--content{
      position: relative;
      width: 100%;
      padding: 130px 0;
    }

    &--title h1{
      font-size: 45px;
    }
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  .slide{
    &--content{
      padding: 240px 0;
    }
  }

}
